<body>
    <div id="container" style="max-width: 600px">
        <form action="/admin/save" method="POST" style="margin: 15px">
            <label for="Title">Title</label>
            <input id="Title" type="text" name="Title">

            <label for="Desc">Description</label>
            <input id="Desc" type="text" name="Desc">

            <label for="Price">Price</label>
            <input id="Price" type="text" name="Price">

            <label for="PriceOld">Old price</label>
            <input id="PriceOld" type="text" name="PriceOld">

            <label for="ImageUrl">Image URL</label>
            <input id="ImageUrl" type="text" name="ImageUrl">

            <button type="Submit">Save</button>
        </form>
    </div>
</body>
