<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PHARMKO - dabīga medicīna</title>
</head>
<body>
<div id="container">
    <div id="header"><a><img src="images/Web_logo.png"></a></div>
    <div id="sidenav">
        <p><a href="/">Galvenā</a></p>
        <p><a href="aktuali">Aktuāli</a></p>
        <p><a href="preces">Preces</a></p>
        <p><a href="davanas">Dāvanu komplekti</a></p>
        <p><a href="parmums">Par Mums</a></p>
        <p><a href="kontakti">Kontakti</a></p>
    </div>
    <div id="content" align="center">
        <h2 class="a">Jubilejas svinības!</h2>
        <p class="akt" > Šogad mūsu aptiekai paliek 15 gadi!<br>
                        Lai nosvinētu, šo brīnišķīģo gadu un pateiktos mūsu klientiem, mēs izveidojām loteriju.<br>
            Visa gada garumā, katra mēneša 15. datumā tiks izlozēti 10 laimīgie, kas saņems kādu no brīnīšķīgām balvām. <br>
            Taču mūsu aptieks dibināšanas dienā 15. Oktobrī, būs 3 laimīgie uzvarētāji, kas saņems lielbalvu 200€ apmērā. <br>
            <br></p>
            <p class="akt1">
                Nosvinēsim PHARMKO jubileju kopā!   </p>
            <div><p class="akt2" align="right"> -PHARMKO personāls</p></div>
        <img class="img" src="images/Web_logo.png">
        <br>
        <button onclick="location.href = 'loterija';"
                id="myButton" class="float-left submit-button" >Piedalīties loterijā!</button>

    </div>
    <!--kājene sākums-->
    <div id="footer">
        <h3>Kategorijas:</h3>
        <ul>
            <p><a href="/"> Galvenā</a></p>
            <p><a href="aktuali"> Aktuali</a></p>
            <p><a href="parmums"> Par Mums</a></p>
            <p><a href="loterija.html.html"> Loterija</a></p>
        </ul>
    </div>
    <!--kājene beigas-->
</div>
</body>
</html>