<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PHARMKO - dabīga medicīna</title>
</head>
<body>
<div id="container">
    <div id="header"><a><img src="images/Web_logo.png"></a></div>
    <div id="sidenav">
        <p><a href="/">Galvenā</a></p>
        <p><a href="aktuali">Aktuāli</a></p>
        <p><a href="preces">Preces</a></p>
        <p><a href="davanas">Dāvanu komplekti</a></p>
        <p><a href="parmums">Par Mums</a></p>
        <p><a href="kontakti">Kontakti</a></p>
    </div>
    <!--produktu sākums-->
    <div id="content">
        <h2>Mūsu populārākās preces</h2>
        <div class="row">
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="https://images-na.ssl-images-amazon.com/images/I/61J2BwiYxyL._SX425_.jpg"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Čakras akmeņu komplekts</h4>
                        <p class="desc">Septiņu krītošu akmeņu komplekts, lai korelētu ar katru no septiņām čakrām.<br><br></p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€16.00</span> <del class="price-old">€17.99</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->

            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="https://a248.e.akamai.net/f/248/9086/10h/s7d1.scene7.com/is/image/terrain/22901649_000_a?$525x525$"> </div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Organiskā lavandas sojas svece</h4>
                        <p class="desc">Sastāvdaļas: sojas vasks, lavandas ēteriskā eļļa, salvijas ēteriskā eļļa, piparmētru ēteriskā eļļa</p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€22.00</span> <del class="price-old">€25.99</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->

            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="https://cdn11.bigcommerce.com/s-z7hlvv/images/stencil/1280x1280/products/925/2629/pi-perfume-rose__19603.1503000577.jpg?c=2&imbypass=on"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Rožu ziedlapiņu infūzija</h4>
                        <p class="desc">Dzirkstošs. Paceļoš. Samtains. Romantisks. Pati ziedu greznības virsotne.<br><br></p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€40.00</span> <del class="price-old">€55.00</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->
            </div> <!-- row.// -->

            <div class="row">
                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap"><img src="https://www.dhresource.com/0x0s/f2-albu-g10-M01-0D-C5-rBVaVlwgU9iAZZ0vAAFj2xyNHYM474.jpg/ceramic-vase-flower-pot-pineapple-shape-table.jpg"></div>
                        <figcaption class="info-wrap">
                            <h4 class="title">Roku darba Vāze</h4>
                            <p class="desc">Mazu un vidēju izmēru vāžu sortiments. Roku darbs Rīgā!<br><br><br><br><br></p>
                        </figcaption>
                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                            <div class="price-wrap h5">
                                <span class="price-new">€30.00</span>
                            </div> <!-- price-wrap.// -->
                        </div> <!-- bottom-wrap.// -->
                    </figure>
                </div> <!-- col // -->

                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap"><img src="http://cdn.shopify.com/s/files/1/0843/9839/products/image_grande.jpg?v=1511482210"> </div>
                        <figcaption class="info-wrap">
                            <h4 class="title">Crystal Wisdom Healing Oracle Deck</h4>
                            <p class="desc">Komplektā ietilpst pilnībā ilustrēta grāmata, kurā ir 50 kristālu profili un 50 kristālisko zīlējumu kārtis<br><br></p>
                        </figcaption>
                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                            <div class="price-wrap h5">
                                <span class="price-new">€19.95</span>
                            </div> <!-- price-wrap.// -->
                        </div> <!-- bottom-wrap.// -->
                    </figure>
                </div> <!-- col // -->

                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap"><img src="http://static1.squarespace.com/static/5436fb22e4b0f256185ff211/54cfffd1e4b0adddfb59e5d1/57d75d57e3df283c5d9c5a46/1482894533327/spa-+tea+lavender+%281%29.JPG"> </div>
                        <figcaption class="info-wrap">
                            <h4 class="title">Lavandas un kumelīšu vannas tēja</h4>
                            <p class="desc">Izbaudiet mieru un klusumu ar relaksējošu mērcējumu, kas ietver nomierinošo minerālu sāļu un aromātisko botānisko augu labumu.</p>
                        </figcaption>
                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                            <div class="price-wrap h5">
                                <span class="price-new">€6.00</span>
                            </div> <!-- price-wrap.// -->
                        </div> <!-- bottom-wrap.// -->
                    </figure>
                </div> <!-- col // -->
            </div>
        </div> <!--content beigas-->
    <!--kājene sākums-->
    <div id="footer">
        <h3>Kategorijas:</h3>
        <ul>
            <p><a href="/"> Galvenā</a></p>
            <p><a href="aktuali"> Aktuali</a></p>
            <p><a href="parmums"> Par Mums</a></p>
            <p><a href="loterija.html.html"> Loterija</a></p>
        </ul>
    </div>
    <!--kājene beigas-->
</div>
</body>
</html>