<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PHARMKO - dabīga medicīna</title>
</head>
<body>
<div id="container">
    <div id="header"><a><img src="images/Web_logo.png"></a></div>
    <div id="sidenav">
        <p><a href="/">Galvenā</a></p>
        <p><a href="aktuali">Aktuāli</a></p>
        <p><a href="preces">Preces</a></p>
        <p><a href="davanas">Dāvanu komplekti</a></p>
        <p><a href="parmums">Par Mums</a></p>
        <p><a href="kontakti">Kontakti</a></p>
    </div>
    <div id="content" align="center">
        <h2 class="m">Esat sveicinti PHARMKO!</h2>
            <p class="m">Mēs esam Latvijā dibināta aptieka, kas specializējas dabīgās zālēs, saknes un garšvielas. <br>
                Atrodoties Rīgas sirdī, mēs piedāvājam mūsu klientiem ne tikai beramās dabīgāls zāles, bet arī <br>
                tinktūras, ēteriskās eļļas, ādas kopšanas līdzekļus, dāvanas un daudzcita. <br>
                <br>
                Apciemojat Mūs mūsu veikalā jau šodien - Tirgoņu ielā 8, Vecrīgā!<br></p>
        <div><p class="m1" align="right"> -PHARMKO personāls</p></div>

        <button onclick="location.href = 'preces';"
                 id="myButton" class="float-left submit-button" >Iegādājies mūsu populārākās preces</button>
    </div>

    <div id="footer">
        <h3>Kategorijas:</h3>
    <ul>
        <p><a href="/"> Galvenā</a></p>
        <p><a href="aktuali"> Aktuali</a></p>
        <p><a href="parmums"> Par Mums</a></p>
        <p><a href="loterija.html.html"> Loterija</a></p>
    </ul>
    </div>
</div>
</body>
</html>