<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PHARMKO - dabīga medicīna</title>
</head>
<body>
<div id="container">
    <div id="header"><a><img src="images/Web_logo.png"></a></div>
    <div id="sidenav">
        <p><a href="/">Galvenā</a></p>
        <p><a href="aktuali">Aktuāli</a></p>
        <p><a href="preces">Preces</a></p>
        <p><a href="davanas">Dāvanu komplekti</a></p>
        <p><a href="parmums">Par Mums</a></p>
        <p><a href="kontakti">Kontakti</a></p>
    </div>
    <div id="content">
        <h2 class="lot" align="center">Loterija</h2>
            <p class="akt" align="center">Lai piedalītos loterijā viss, kas ir jāizdara ir jāievada savs vārds, uzvārds un e-pasts! <br>
            Katra mēneša 15. datumā tiks izlozēti 10 laimīgie, kas saņems kādu no brīnīšķīgām balvām. <br>
            Taču mūsu aptieks dibināšanas dienā 15. Oktobrī, būs 3 laimīgie uzvarētāji, kas saņems lielbalvu 200€ apmērā. <br>
            <br></p>
        <p class="akt1" align="center">
            Nosvinēsim PHARMKO jubileju kopā!   </p>
        <p class="akt2" align="right"> -PHARMKO personāls</p>
        <img class="img" src="images/Web_logo.png">
        <br>
        <div class="container">
            <form action="/action_page.php">
                <label for="fname">Vārds</label>
                <input type="text" id="fname" name="firstname" placeholder="Jūsu vārds..">

                <label for="lname">Uzvārds</label>
                <input type="text" id="lname" name="lastname" placeholder="Jūsu uzvārds..">

                <label for="email">E-pasts</label>
                <input type="text" id="email" name="email" placeholder="Ievadiet Jūsu e-pastu">

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    </div>
<!--kājene sākums-->
<div id="footer">
    <h3>Kategorijas:</h3>
    <ul>
        <p><a href="/"> Galvenā</a></p>
        <p><a href="aktuali"> Aktuali</a></p>
        <p><a href="parmums"> Par Mums</a></p>
        <p><a href="loterija.html.html"> Loterija</a></p>
    </ul>
</div>
<!--kājene beigas-->
</div>
</body>
</html>