<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PHARMKO - dabīga medicīna</title>
</head>
<body>
<div id="container">
    <div id="header"><a><img src="images/Web_logo.png"></a></div>
    <div id="sidenav">
        <p><a href="/">Galvenā</a></p>
        <p><a href="aktuali">Aktuāli</a></p>
        <p><a href="preces">Preces</a></p>
        <p><a href="davanas">Dāvanu komplekti</a></p>
        <p><a href="parmums">Par Mums</a></p>
        <p><a href="kontakti">Kontakti</a></p>
    </div>
    <div id="content">
        <div class="container p">
            <h1 class="page-heading pm" align="center">Par Mums</h1>
            <p align="center"><span>PHARMKO tika atvērts 2004 gadā un piedāvā dabīgās zālēs, saknes, garšvielas, ēteriskās eļļās, ziedu esences and tinktūras. &nbsp; Mēs piedāvājam mūsu klientiem ne tikai beramās dabīgāls zāles, tinktūras, ēteriskās eļļas,
                bet arī ādas kopšanas līdzekļus, dziedošos kristālus, grāmatas, rotaslietas dāvanas un daudzcita. Viss ir dabīgs un orgānisks.</span></p>
            <p align="center">PHARMKO atrodas Tigoņu ielā 8, Vecrīgā. Ar prieku gaidīsim Jūs mūsu veikalā!</p>
            <p align="center">Tirgoņu iela 8<br>Vecrīga, LV-1050</p>
            <p align="center">E-Pasts: info@pharmko.com</p>
            <p align="center">Telefons: (317) 2717-3107</p>
            <h2 class="pm" align="left">Darba laiks</h2>
            <table border="0" align="left">
                <tbody>
                <tr>
                    <td>Pirmndiena</td>
                    <td>Slēgts</td>
                </tr>
                <tr>
                    <td>Otrdiena</td>
                    <td>11:00-19:00</td>
                </tr>
                <tr>
                    <td>Trešdiena</td>
                    <td>11:00-19:00</td>
                </tr>
                <tr>
                    <td>Ceturtdiena</td>
                    <td>11:00-19:00</td>
                </tr>
                <tr>
                    <td>Piektdiena</td>
                    <td>11:00-19:00</td>
                </tr>
                <tr>
                    <td>Sestdiena</td>
                    <td>11:00-19:00</td>
                </tr>
                <tr>
                    <td>Svētdiena</td>
                    <td>12:00-16:00</td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
    <!--kājene sākums-->
    <div id="footer">
        <h3>Kategorijas:</h3>
        <ul>
            <p><a href="/"> Galvenā</a></p>
            <p><a href="aktuali"> Aktuali</a></p>
            <p><a href="parmums"> Par Mums</a></p>
            <p><a href="loterija.html.html"> Loterija</a></p>
        </ul>
    </div>
    <!--kājene beigas-->
</div>
</body>
</html>