<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PHARMKO - dabīga medicīna</title>
</head>
<body>
<div id="container">
    <div id="header"><a><img src="images/Web_logo.png"></a></div>
    <!--nevigācijas sākums-->
    <div id="sidenav">
        <p><a href="/">Galvenā</a></p>
        <p><a href="aktuali">Aktuāli</a></p>
        <p><a href="preces">Preces</a></p>
        <p><a href="davanas">Dāvanu komplekti</a></p>
        <p><a href="parmums">Par Mums</a></p>
        <p><a href="kontakti">Kontakti</a></p>
    </div>
    <!--nevigācijas beigas-->
    <!--produktu sākums-->
    <div id="content">
        <h2>Mūsu populārākās preces</h2>
        <div class="row">
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="https://cdn3.volusion.com/vaxpf.wpyjv/v/vspfiles/photos/MGTP-2.jpg?1417428812"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Matcha tējas pūlveris</h4>
                        <p class="desc">Matcha ir neparasta veida zaļā tēja no Āzijas.</p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€5.49</span> <del class="price-old">€9.99</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->

            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="https://www.nealsyardremedies.com/on/demandware.static/-/Sites-nyr-product-catalog/default/dwb25cb284/images/3256/irish-moss-medium-3256.jpg"> </div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Īru sūnas</h4>
                        <p class="desc">Aug okeāna akmeņainajās piekrastēs.</p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€3.00</span> <del class="price-old">€5.99</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->

            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="http://www.qualityginsengdirect.co.uk/wp-content/uploads/2016/02/product-siberian-ginseng-root-2nd-image-1.jpg"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Sibīrijas ženšeņa sakne</h4>
                        <p class="desc">Samazina fiziskās un garīgās stresa kaitīgo ietekmi.</p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€2.50</span> <del class="price-old">€5.00</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->
        </div> <!-- row.// -->

        <div class="row">
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="http://www.pikespeakrock.com/media/PMAPG-1.JPG"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Brazīlijas Agāta ametists</h4>
                        <p class="desc">Pulēts Brazīlijas Agāts ametists. 300 g.</p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€150</span> <del class="price-old">€400</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="https://www.floracopeia.com/Images/Items/wild-harvested-cedar-oil_main-01.jpg?resizeid=2&resizeh=600&resizew=600"> </div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Floracopeia Ciedra eļļa</h4>
                        <p class="desc">To lieto, lai nomierinātu plaušas stresa un diskomforta laikā.</p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€13.00</span> <del class="price-old">€20.00</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->

            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="https://cdn.shopify.com/s/files/1/0006/0562/products/image_0c32643e-35b9-43fd-b236-381cef38e63e_1024x1024.jpg?v=1516134849"> </div>
                    <figcaption class="info-wrap">
                        <h4 class="title">Ķiploku sīrups</h4>
                        <p class="desc">Spēcīgs plaušu un sirds toniks. 120ml</p>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Pirkt</a>
                        <div class="price-wrap h5">
                            <span class="price-new">€15.60</span> <del class="price-old">€18.00</del>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->
        </div>
    </div>
    <!--kājene sākums-->
    <div id="footer">
        <h3>Kategorijas:</h3>
        <ul>
            <p><a href="/"> Galvenā</a></p>
            <p><a href="aktuali"> Aktuali</a></p>
            <p><a href="parmums"> Par Mums</a></p>
            <p><a href="loterija.html.html"> Loterija</a></p>
        </ul>
    </div>
    <!--kājene beigas-->
</div> <!--konteinera beigas-->
</body>
</html>